{% extends "master" %}

{% block content %}
  <div class="container">
    <form action="/shows" method="POST">
      {{ csrfField }}
      <h2>Sign Up For a New Account!</h2>

      <div class="form-field">
        <label for="title" class="form-field__label">title:</label>
        <input class="form-field__input" type="text" name="title" id="title" value="{{ old('title') }}">
      </div>

      <div class="form-field">
        <label for="ep_time" class="form-field__label">time:</label>
        <input class="form-field__input" type="number" name="ep_time" id="ep_time">
      </div>

      <div class="form-field">
        <label for="num_ep" class="form-field__label">num of eps:</label>
        <input class="form-field__input" type="number" name="num_ep" id="num_ep">
      </div>

      <div class="form-field">
        <label for="is_movie" class="form-field__label">movie:</label>
        <input class="form-field__input" type="checkbox" name="is_movie" id="is_movie" {% if old('is_movie') %}checked{% endif %}>
      </div>

      <div class="form-actions">
        <button class="btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}
