{% extends "master" %}

{% block content %}
  <div class="container">
    <div class="resource-title">
      <h3>popular shows</h3>

      <a href="/shows/create" class='btn'>
        <span class="fa fa-plus"></span>
        new show
      </a>
    </div>
  </div>
{% endblock %}
